.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: #05264C;
}

.sidenav .mat-toolbar {
  background: inherit;
  color: #ffffff;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-content {
  padding: 16px;
}

#blanquito {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
