<div class="actions">
    <mat-card-actions>
        <!--button mat-icon-button color="primary" title="Refresh" (click)="btnRefreshClicked($event)">
        <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button color="primary" title="Email user" (click)="btnEmailClicked($event)">
        <mat-icon>email</mat-icon>
    </button>
    <button mat-icon-button color="primary" title="Edit user" (click)="btnEditClicked($event)">
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" title="Delete user" (click)="btnDeleteClicked($event)">
        <mat-icon>delete</mat-icon>
    </button-->
    </mat-card-actions>